<?xml version="1.0"?>
<assembly>
	<id>plugin</id>
	<formats>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<dependencySets>
		<dependencySet>
			<outputDirectory>/</outputDirectory>
			<useProjectArtifact>true</useProjectArtifact>
			<useTransitiveFiltering>true</useTransitiveFiltering>
			<excludes>
				<exclude>org.elasticsearch:elasticsearch</exclude>
				<exclude>org.codelibs:elasticsearch-util</exclude>
				<exclude>jp.sf.orangesignal:orangesignal-csv</exclude>
				<exclude>org.apache.poi:poi</exclude>
				<exclude>commons-codec:commons-codec</exclude>
			</excludes>
		</dependencySet>
	</dependencySets>
</assembly>
